<section class="pb-20">
  <div class="bottom-auto left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20" style="height:80px;transform:translateZ(0)">
    <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
      <polygon class="text-gray fill-current" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
  <div class="py-32">
    <h3 class="text-4xl mb-2 italic text-center font-bold leading-normal">Nossas Metas</h3>
    <hr class="borda w-16 h-1 mr-auto ml-auto text-center mt-5 border-main">
  </div>
  <div class="container w-full mr-auto ml-auto items-center -mt-64 lg:mt-0">
    <div class="flex flex-wrap">
      <div class="pt-48 w-full md:w-3/12 px-4 mr-auto ml-auto">
        <div class="flex-auto hidden lg:block">
          <div class="relative text-center bg-white shadow-lg <%= change_class(@count, 200, 2000) %> rounded-lg">
            <div class="pt-12">
              <p class="text-xs">
                <img src="<%= asset_path('Material/Material/reward.svg')%>" class="w-12 h-16 mr-auto ml-auto" />
              </p>
            </div>
            <div class="pt-5">
              <p class="text-xs text-gray-PJA">Sorteio de</p>
              <p class="text-2xl font-bold pt-1 uppercase">02 meses<br /> grátis</p>
              <p class="text-xs pt-2 text-gray-PJA">1 grupo</p>
            </div>
            <div class="<%= change_class_text(@count, 800) %> pt-10 pb-8">
              <p class="text-sm">Raxadores Abordo</p>
              <p class="text-3xl font-bold"><%= @count.blank? ? 0 : @count%>/800</p>
            </div>
          </div>
        </div>
      </div>

      <div class="w-full hidden lg:block mr-auto ml-auto md:w-5/12 px-4 justify-center">
        <% if @count.blank? || @count < 200%>
        <img src="<%= asset_path('Material/Material/foguete_level_-1.png')%>" />
        <% elsif @count >= 200 && @count < 800 %>
        <img src="<%= asset_path('Material/Material/foguete_level_01.png')%>" />
        <% elsif @count >= 800 && @count < 2000 %>
        <img src="<%= asset_path('Material/Material/foguete_level_02.png')%>" />
        <% elsif @count >= 2000 %>
        <img src="<%= asset_path('Material/Material/foguete_level_03.png')%>" />
        <% end %>
      </div>
      <div class="w-full lg:w-3/12 px-4 text-center mr-auto ml-auto">
        <div class="flex-auto mt-10 lg:mt-0">
          <div class="relative text-center bg-white <%= change_class(@count, 800, 2000) %> shadow-lg rounded-lg">
            <div class="pt-12">
              <p class="text-xs">
                <img src="<%= asset_path('Material/Material/crown.svg')%>" class="w-12 h-16 mr-auto ml-auto" />
              </p>
            </div>
            <div class="pt-5">
              <p class="text-xs text-gray-PJA">Sorteio de</p>
              <p class="text-2xl font-bold pt-1 uppercase">1 ano de<br /> netflix</p>
              <p class="text-xs pt-2 text-gray-PJA">10 telas premium</p>
            </div>
            <div class="<%= change_class_text(@count, 2000) %> pt-10 pb-8">
              <p class="text-sm">Raxadores Abordo</p>
              <p class="text-3xl font-bold"><%= @count.blank? ? 0 : @count%>/2000</p>
            </div>
          </div>
        </div>

        <div class="flex-auto block lg:hidden mt-10 md:mt-20">
          <div class="relative text-center bg-white shadow-lg <%= change_class(@count, 200, 2000) %> rounded-lg">
            <div class="pt-12">
              <p class="text-xs">
                <img src="<%= asset_path('Material/Material/reward.svg')%>" class="w-12 h-16 mr-auto ml-auto" />
              </p>
            </div>
            <div class="pt-5">
              <p class="text-xs text-gray-PJA">Sorteio de</p>
              <p class="text-2xl font-bold pt-1 uppercase">02 meses<br /> grátis</p>
              <p class="text-xs pt-2 text-gray-PJA">1 grupo</p>
            </div>
            <div class="<%= change_class_text(@count, 800) %> pt-10 pb-8">
              <p class="text-sm">Raxadores Abordo</p>
              <p class="text-3xl font-bold"><%= @count.blank? ? 0 : @count%>/800</p>
            </div>
          </div>
        </div>

        <div class="flex-auto mt-10 md:mt-20 md:mb-20">
          <div class="relative text-center bg-white ativo rounded-lg">
            <div class="pt-12">
              <p class="text-xs">
                <img src="<%= asset_path('Material/Material/medal-of-honor.svg')%>" class="w-12 h-16 mr-auto ml-auto" />
              </p>
            </div>
            <div class="pt-5">
              <p class="text-xs text-gray-PJA">Sorteio de</p>
              <p class="text-2xl font-bold pt-1 uppercase">03 meses<br /> de spotify</p>
              <p class="text-xs pt-2 text-gray-PJA">1 raxador</p>
            </div>
            <div class="<%= change_class_text(@count, 200) %> pt-10 pb-8">
              <p class="text-sm">Raxadores Abordo</p>
              <p class="text-3xl font-bold"><%= @count.blank? ? 0 : @count%>/200</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</section>