<div class="row" style="margin-top: 100px">
  <div class="col-3">
  </div>
  <div class="col-6">
    <ul class="list-group">
      <li class="list-group-item list-group-item-action">
        <b>Nome:</b> <%= @beta_user.name %>
      </li>
      <li class="list-group-item list-group-item-action">
        <b>Email:</b> <%= @beta_user.email %>
      </li>
      <li class="list-group-item list-group-item-action">
        <b>Serviço de Messagem:</b> <%= @beta_user.messaging_service %>
      </li>
      <li class="list-group-item list-group-item-action">
        <b>Telefone:</b> <%= @beta_user.phone %>
      </li>
      <li class="list-group-item list-group-item-action">
        <b>Serviço de Interesse:</b> <%= @beta_user.service_of_interest %>
      </li>
    </ul>
    <div class="text-center" style="margin-top: 10px;">
      <%= link_to edit_backoffice_beta_user_path(@beta_user), class:"btn btn-outline-primary", style:"margin-right: 10px;" do %>
      <i class="fas fa-user-edit"></i>
      Editar
      <% end %>
      <%= link_to backoffice_beta_user_path(@beta_user), method: :delete, class:"btn btn-outline-danger", data: {confirm: "Deseja realmente excluir #{@beta_user.name}"} do %>
      <i class="fas fa-trash-alt"></i>
      Deletar
      <% end %>
    </div>
  </div>
</div>