<main>
  <div id="teste" class="relative bg-white overflow-hidden">
    <div class=" absolute top-0 w-full h-full bg-center bg-cover" style="background-image:url(<%= asset_path('Material/Material/pexels-helena-lopes-708392.jpg')%>)">
      <span id="blackOverlay" class="w-full h-full absolute opacity-75 bg-black"></span>
    </div>
    <%= render partial: "landing_page/shared/navigation" %>
    <div class="max-w-screen-xl mx-auto">
      <div class="relative z-10 pt-8 pb-8 sm:pb-16 md:pb-20 lg:w-full lg:pb-28 xl:pb-32">
        <%= render partial: "landing_page/shared/headline" %>
      </div>
    </div>
    <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden" style="height:70px;transform:translateZ(0)"><svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
        <polygon class="text-indigo-100 fill-current" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <div class="bg-indigo-100">
    <%= render partial: "landing_page/shared/content" %>
    <%= render partial: "landing_page/shared/operation" %>
    <%= render partial: "landing_page/shared/goals" %>
    <div class="bg-indigo-100">
      <%= render partial: "landing_page/shared/example" %>
      <%= render partial: "landing_page/shared/form" %>
    </div>
  </div>
</main>

<%= render partial: "landing_page/shared/footer" %>