<main class="bg-gray">
  <div class="relative bg-white overflow-hidden">
    <div class=" absolute top-0 w-full h-full bg-center bg-cover" style="background-image:url(<%= asset_path('Material/Material/pexels-helena-lopes-708392.jpg' )%>)">
      <span id="blackOverlay" class="w-full h-full absolute opacity-75 bg-neutral"></span>
    </div>
    <div class="relative flex items-center justify-between w-full md:w-auto">
      <a href="#" aria-label="Home">
        <img class="h-10 ml-52 my-8 w-12" src="<%= asset_path('Material/Material/header_logo.png') %>" alt="Logo">
      </a>
    </div>
    <%= render partial: "landing_page/shared/headline" %>

    <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden" style="height:70px;transform:translateZ(0)">
      <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
        <polygon class="text-gray fill-current" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <%= render partial: "landing_page/shared/content" %>
  <%= render partial: "landing_page/shared/team" %>
  <%= render partial: "landing_page/shared/operation" %>
  <%= render partial: "landing_page/shared/example" %>
  <%= render partial: "landing_page/shared/goals" %>
  <%= render partial: "landing_page/shared/form" %>
</main>

<%= render partial: "landing_page/shared/footer" %>