<h1>Lead#confirmation</h1>

<p>
  Nome: <%= @lead.name %>
  Email: <%= @lead.email %>
  Telefone: <%= @lead.phone %>
  Serviço de messagem: <%= @lead.messaging_service %>
  Serviço de Interesse: <%= @lead.service_of_interest %>
</p>