<h1>Informações do Cliente</h1>

<p>
  Nome: <%= @lead[:name] %>
</p>
<p>
  Email: <%= @lead[:email] %>
</p>
<p>
  Telefone: <%= @lead[:phone] %>
</p>
<p>
  Serviço de messagem: <%= @lead[:messaging_service] %>
</p>
<p>
  Serviço de Interesse: <%= @lead[:service_of_interest] %>
</p>