<!DOCTYPE html>
<html>

<head>
  <title>MvpRaxae</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_pack_tag 'backoffice'%>
  <%= javascript_pack_tag 'application' %>
  <%= javascript_pack_tag 'backoffice' %>
</head>

<body>
  <%= render partial: "layouts/navigation" %>
  <%= yield %>
</body>

</html>