<!DOCTYPE html>
<html>

<head>
  <title>Raxae</title>
  <link rel="shortcut icon" href="<%= asset_path('Material/Material/header_logo.ico') %>">
  <meta name="keywords" content="raxaê, dividir netflix, dividir contas, compartilhar contas, rachar contas, raxar netflix" />

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
  <%= javascript_pack_tag 'form' %>
  <%= javascript_pack_tag 'landing_page' %>
  <%= stylesheet_pack_tag 'landing_page'%>
</head>

<body class="antialiased bg-gray">
  <%= yield %>
</body>

</html>